{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "auto",
          "targets": { "node": "current" }
        },
        "transform-runtime": {
          "useESModules": false
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    "babel-plugin-styled-components",
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages/"
      }
    ]
  ],
  "env": {
    "development": {
      "compact": false
    }
  }
}
