# Environment
.env
.env.*
!.env.local
!.env.staging
!.env.test

# Node
node_modules
npm-debug.log.*
yarn.lock
build
dist
out

# Test
coverage
test/__snapshots__/*.diff.png
test/__snapshots__/*.new.png
test-report.junit.xml

# VSCode
.vscode
.history

# Typescript
*.tsbuildinfo

# Misc
.DS_Store
*.swp
*.log
.vercel
