{
  "extends": [
    "opencollective",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/typescript",
    "next"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "jest": true
  },
  "plugins": ["react-hooks", "@typescript-eslint"],
  "rules": {
    "no-console": "warn",
    "react/jsx-closing-bracket-location": ["warn", "tag-aligned"],
    "react-hooks/rules-of-hooks": ["error"],
    "react/no-array-index-key": 0, // most pages are static
    // We can be stricter with these rules
    // because we don't have any occurences anymore
    "react/react-in-jsx-scope": ["error"],
    "react/sort-comp": ["error"],
    "node/no-missing-import": ["error", { "tryExtensions": [".js", ".ts", ".tsx"] }]
  }
}
